.article{
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
    
}

.titre-article{
    border-bottom:2px dashed rgba(0, 0, 0, 0.3) ;
}

.detail-article{
    text-align: center;
    margin-bottom: 10px;
}

.detail-article p{
    text-align: justify;
    color: #7b7b7b;
    font-size: 1em;
}

.detail-article a{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 200px/50px;
    
}