.demo{
    background-color: red;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin: auto;
}

#menu{
    padding: 0;
}

#menu li{
    display: inline;

}

#menu a{
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 50px;
    color: white;
}

#menu a:hover{
    background-color: brown;
    font-size: 1.4em;
}