.badge{
    font-size: 0.5em;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

p{
    text-align: justify;
}

div span{
    background-color: rebeccapurple;
}

div > span{
    background-color: aqua;
}

.demo1{
    border: 1px solid black;
    background-color: yellow;
    box-shadow: -10px 10px 10px black;
    text-shadow: 1px 1px 2px red;
   /*  padding: 20px 20px 20px 50px; */
   padding: 20px 50px;
}


