*{
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: darkmagenta;
}
nav{
    height: 300px;
    background-color: aqua;
    width: 25%;
    float: left;
    padding-left: 10px;
}
section{
    height: 300px;
    background-color:pink;
    width: 50%;
    float: left;
}
aside{
    height: 300px;
    background-color: lightskyblue;
    width: 25%;
    float: left;
}
/* #clearfix{
    clear: both;
} */
main::after{
    content: "";
    clear: both;
    display: block; /* <div></div> */
}
footer{
    height: 100px;
    background-color: black;
}