*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

div{
    border: 1px solid black;
    width: 300px;
    padding: 100px;
}

div ~ p{
    background-color: yellow;
}


#menu{
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu li{
        display: inline;
}
#menu a{
    background-color: chocolate;
    text-decoration: none;
    padding: 10px 25px;
    color: white;
}

#menu a:hover{
    background-color: darkred;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 5px solid black;
}


a:visited{
    color: red;
}

a:active{
    color: green;
}

li::before{
    content: "\B201";
}
