.flag{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.red{
    width: 325px;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 75px solid red;
    position: absolute;
    top: 0;
}

.black{
    background-color: black;
    height: 50px;
    width: 300px;
}

.green{
    background-color: green;
    height: 50px;
    width: 300px;
}

.white{
    background-color: white;
    height: 50px;
    width: 300px;
}