.demo1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: relative;
}

.demo2{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
/*     position: absolute;
    bottom: 10px;
    right: 10px; */
}

.demo3{
    width: 300px;
    height: 300px;
    background-color: green;
    /* position: relative; */
     position: relative;
}

/* .demo1{
    background-color: green;
    position: sticky;
    left: 0;
    top: 0;
    width: 100px;
    height: 50px;
    z-index: 99;
}
.demo2{
    background-color: gold;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 9;
}
.demo3{
    background-color: red;
    width: 100px;
    height: 50px;
    position:sticky;
    left: 100px;
    top: 0px;
} */
